*{
    margin: 0;
    padding: 0;

}

body{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    background-color: rgb(252, 248, 248);
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgb(212, 7, 109);
    
}

.heading span{
    color: var(pink);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--pink);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:rgb(201, 201, 200);
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0;
}

header .logo{
    font-size: 3rem;
    color:rgb(247, 101, 3);
    font-weight: bolder;
}

 span{
    color:rgb(10, 10, 10);
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}

.navbar a:hover{
    color:darkblue;
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

 .icons a:hover{
    color: tomato;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;

}
.categories {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

.category-item {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 33.33%;
    border: 2px solid white;
    box-sizing: border-box;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.category-item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.category-item-inner > div {
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.featured-products-title {
    text-align: center;
}

.featured-product-item {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.featured-product-item-image {
    height: 400px;
    background-size: cover;
    background-position: center;
    
}

.featured-product-item > .title {
    font-size: 20px;
    font-weight: bold;
}

.featured-product-item > .description {
    color: #666;
}

.featured-product-item > .price {
    font-style: italic;
}

button {
    outline: none;
    background: black;
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
}
@media (max-width: 1000px) {
    .category-item {
        min-width: 50%;
    }
}

@media (max-width: 800px) {
    .category-item {
        min-width: 100%;
    }
}
@media (max-width: 1000px) {
    .featured-products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .featured-products {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 1000px) {
    .section {
        min-width: 50%;
    }
}

@media (max-width: 800px) {
    .header{
        min-width: 100%;
    }


}